@font-face {
  font-family: "Aleo";
  src: url("./../fonts/Aleo-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("./../fonts/Josefin-Sans-regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin-light";
  src: url("./../fonts/josefin-sans-v34-latin-300.woff2") format("woff");
  font-weight: light;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: "Josefin-bold";
  src: url("./../fonts/Josefin-Sans-Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h {
  font-family: "Josefin";
}

p {
  color: #FFFFFF;
}

a {
  font-family: "Lato";
  text-decoration: none;
  color: #7B7B7B;
}

ul,
ol {
  list-style: none;
}

a,
button {
  transition: all 0.2s ease;
  background: none;
  border: none;
}
a:focus,
button:focus {
  text-decoration: underline solid black;
  border: 1px solid #000000;
}

body {
  font-size: 1rem;
  color: #000000;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-wrapper main {
  flex-grow: 1;
}

.container {
  width: min(90%, 1320px);
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  background: #5373FD;
  z-index: 1000;
}
.header .logo {
  padding-right: 10px;
}
.header .mobile-panel {
  display: none;
}
.header .overlay {
  display: none;
}
.header .hamburger-wrap {
  display: none;
}
.header .container {
  min-height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header p {
  font-size: 1.5rem;
  font-family: "Josefin";
  text-transform: uppercase;
}
.header ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.header ul li {
  text-transform: uppercase;
}
.header ul li a {
  font-size: 0.875rem;
  color: #FFFFFF;
  font-weight: 400;
  font-family: "Aleo";
  letter-spacing: 10%;
}

.section-wrap {
  display: flex;
  justify-content: space-around;
}
.section-wrap p {
  font-size: 1rem;
  color: #FFFFFF;
  font-family: "Josefin";
}

.first-screen {
  height: 100dvh;
  background: url(./../images/header-bg-1.png) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-wrap {
  background-color: #FFFFFF;
  width: 647px;
  height: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-wrap .input-wrap {
  flex-grow: 1;
  padding-left: 36px;
  height: 100%;
}
.search-wrap input {
  width: 100%;
  border: none;
  font-family: "Josefin";
  color: #999999;
  font-size: 0.875rem;
  letter-spacing: 20%;
  height: 100%;
}
.search-wrap button {
  background-color: #5373FD;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  height: 100%;
  border: 4px solid white;
  padding: 0 24px;
  text-transform: uppercase;
}
.search-wrap button svg {
  margin-right: 12px;
}
.search-wrap button:hover {
  border: 1px solid #000000;
}
.search-wrap button:focus {
  background-color: #00A2FF;
}

.scroll-btn-wrap {
  text-align: center;
  margin-top: clamp(16px, 14vw, 221px);
}

.scroll-btn {
  width: 80px;
  height: 80px;
  border: none;
  position: relative;
  cursor: pointer;
  color: #FFFFFF;
  font-family: "Josefin";
  font-size: 0.875rem;
  letter-spacing: 20%;
}

.scroll-btn::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 5px;
  background: white;
  top: 45px;
  left: 35px;
  transform: rotate(45deg);
  border-radius: 2px;
}

.scroll-btn::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 5px;
  background: white;
  top: 45px;
  left: 43px;
  transform: rotate(-45deg);
  border-radius: 2px;
}

.content h1 {
  font-size: 3.25rem;
  color: #FFFFFF;
  font-family: "Josefin-bold";
  text-transform: uppercase;
  margin-bottom: 8px;
  font-weight: 700;
}
.content p {
  font-size: 1.375rem;
  color: #FFFFFF;
  font-family: "Josefin";
  letter-spacing: 31%;
}
.content hgroup {
  margin-bottom: 48px;
  text-align: center;
}

.second-page {
  height: 100dvh;
  background: url(./../images/faded-pg.png) center/cover no-repeat;
  display: flex;
  align-items: center;
}
.second-page .section-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #FFFFFF;
  gap: 135px;
}
.second-page .section-wrap h1 {
  font-size: 2.375rem;
  font-family: "Aleo";
  margin-bottom: clamp(20px, 3vw, 24px);
}
.second-page .section-wrap p {
  font-size: 1rem;
  font-family: "Josefin-light";
  margin-bottom: clamp(20px, 3vw, 24px);
  letter-spacing: 10%;
}

.btn {
  max-width: 213px;
  position: relative;
  padding-top: clamp(30px);
  padding: 18px 20px;
  color: white;
  background: #486BFE;
  border: none;
  cursor: pointer;
  overflow: hidden;
  opacity: 1;
}

.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #5373FD;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  z-index: 0;
}

.btn {
  z-index: 1;
}

.btn span {
  position: relative;
  z-index: 2;
  font-family: "Aleo";
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 7%;
}

.btn:hover::before {
  transform: scaleX(1);
  rotate: -20deg;
}

.second-page .text-block {
  max-width: 648px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.second-page .text-block p {
  font-family: "Josefin-light";
}

.ph-section {
  max-width: 424px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.ph-section .img1 {
  display: flex;
  justify-content: flex-start;
}
.ph-section .img2 {
  display: flex;
  justify-content: flex-end;
}

.third-page {
  background-color: #333333;
}

.icons-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
}
.icons-wrap .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px 0;
  align-items: center;
  gap: 4px;
}
.icons-wrap .icon span {
  font-family: "Aleo";
  font-size: 2.25rem;
  color: #FFFFFF;
}

.line {
  flex: 1;
  height: 25vh;
  position: relative;
  z-index: 2;
}

.line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 1px dashed #FFFFFF;
  border-radius: 50%;
  top: 60px;
}

.fourth-page {
  background: url(./../images/house-large.png) center/cover no-repeat;
  padding-top: 220px;
  height: 684px;
  font-family: "Josefin";
}

.text-card {
  color: #FFFFFF;
  background: rgba(35, 35, 35, 0.9);
  max-width: 648px;
  height: 344px;
  padding: 36px 24px;
  line-height: 28px;
}
.text-card h1,
.text-card h3,
.text-card p {
  padding-bottom: 20px;
  font-family: "Josefin-light";
}
.text-card h1 {
  font-size: 1.25rem;
}
.text-card h1,
.text-card p {
  letter-spacing: 10%;
  font-weight: 300;
}
.text-card h3 {
  font-weight: 400;
  text-transform: uppercase;
}

.fifth-page {
  background: url(./../images/spain.png) center/cover no-repeat;
  font-family: "Josefin-light";
  padding-top: 220px;
  height: 684px;
}
.fifth-page .container {
  display: flex;
  justify-content: flex-end;
}

.sixth-page {
  color: #FFFFFF;
  height: 680px;
  background: url(./../images/tourist-faded.png) center/cover no-repeat;
}
.sixth-page > h1 {
  text-align: center;
  font-family: "Aleo";
  padding: 100px 0 50px 0;
  font-size: 2.25rem;
}
.sixth-page .image-text-card {
  font-family: "Josefin-light";
  background-color: #333333;
  display: flex;
  height: auto;
}
.sixth-page .image-text-card img {
  width: 50%;
}
.sixth-page .image-text-card h1 {
  font-size: 1.25rem;
  padding-bottom: 20px;
}
.sixth-page .image-text-card article {
  padding: 36px;
}
.sixth-page .image-text-card article p {
  letter-spacing: 10%;
  line-height: 28px;
}

.footer {
  font-family: "Josefin";
  background-color: #000000;
  height: 268px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .socials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer h1 {
  font-size: 1.5rem;
  letter-spacing: 10%;
  font-weight: 700;
  text-transform: uppercase;
}
.footer .socials {
  padding-top: 10px;
  display: flex;
  gap: 20px;
}

@media screen and (min-width: 780px) and (max-width: 950px) {
  .line {
    display: none;
  }
}
@media screen and (min-width: 620px) and (max-width: 780px) {
  p {
    font-size: 0.875rem;
  }

  .container {
    width: min(90%, 768px);
    margin: 0 auto;
  }

  .section-wrap {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .second-page {
    height: auto;
  }
  .second-page .text-block {
    align-items: center;
  }
  .second-page .text-block .section-wrap {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .second-page .text-block h1 {
    margin-top: 20px;
    font-size: 1.3125rem;
  }
  .second-page .text-block p {
    font-size: 0.875rem;
  }
  .second-page .text-block .btn {
    max-width: 150px;
  }
  .second-page .text-block .btn span {
    font-size: 0.625rem;
  }

  .search-wrap {
    width: 100%;
    max-height: 40px;
  }
  .search-wrap .input-wrap {
    padding-left: 13px;
  }
  .search-wrap button {
    padding: 0 7px;
    border: none;
    font-size: 0.625rem;
  }
  .search-wrap input {
    font-size: 0.625rem;
  }

  .icons-wrap .icon {
    margin: 10px 10px;
  }
  .icons-wrap .icon .line {
    display: none;
    height: 10px;
  }
  .icons-wrap .icon span {
    font-size: 0.625rem;
  }

  .fourth-page {
    display: flex;
    justify-content: center;
  }

  .sixth-page .image-text-card {
    height: auto;
  }
  .sixth-page .image-text-card article p {
    font-size: 0.75rem;
  }

  .header {
    display: flex;
  }
  .header .container {
    min-height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .container .navigation li {
    display: none;
  }
  .header .container p {
    font-size: 1.125rem;
  }
  .header .hamburger-wrap {
    display: inline-block;
  }
  .header .hamburger-wrap .hamburger-inner, .header .hamburger-wrap .hamburger-inner::after, .header .hamburger-wrap .hamburger-inner::before {
    background-color: white;
  }

  .mobile-panel.open {
    background-color: #5373FD;
  }

  .web-menu {
    display: none;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    transition: all 0.2s ease;
    visibility: hidden;
  }
  .overlay.show {
    visibility: visible;
    opacity: 1;
  }

  .hamburger--minus {
    width: 30px;
    height: 30px;
    background-color: #000;
  }

  .mobile-panel {
    display: inline-block;
    position: fixed;
    width: 200px;
    height: 100dvh;
    background-color: black;
    left: 0;
    top: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  .mobile-panel.open {
    transform: translateX(0);
    display: block;
  }
  .mobile-panel .mobile-menu ul {
    display: flex;
    flex-direction: column;
  }

  nav {
    padding: 30px 0;
  }
  nav ul li {
    border-bottom: 1px solid #eee;
  }
  nav a {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.4375rem;
    color: #000000;
    padding: 20px;
    text-decoration: none;
    background-color: transparent;
  }
  nav a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.54);
    transition: all 0.2s ease;
  }

  .sixth-page .container {
    height: 100dvh;
  }

  .sixth-page .image-text-card {
    display: flex;
    text-align: center;
    height: auto;
    align-items: center;
  }
  .sixth-page .image-text-card img {
    object-fit: contain;
  }
  .sixth-page .image-text-card article {
    padding: 36px 24px;
  }
}