@font-face {
    font-family: FrancoisOnereg;
    src: url(./../fonts/FrancoisOne-Regular.ttf);
}

@font-face {
    font-family: PTregular;
    src: url(./../fonts/PTSans-Regular.ttf);
}

@font-face {
    font-family: PTbold;
    src: url(./../fonts/PTSans-Bold.ttf);
}

@font-face {
    font-family: PTitalic;
    src: url(./../fonts/PTSans-Italic.ttf);
}

@font-face {
    font-family: FarroLight;
    src: url(./../fonts/Farro-Light.ttf);
}

@font-face {
    font-family: Tourney;
    src: url(./../fonts/Tourney-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./../fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
}

ul {
    list-style: none;
}

.page-wrapper {
    width: 1200px;
    margin: 0 auto;

}

header {
    background-color: #FFF;
    font-family: FrancoisOnereg;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 70px;


    li {
        font-family: FrancoisOnereg;
        font-size: 20px;
        align-items: start;
        display: inline-block;
        letter-spacing: -3.3%;


        a {
            color: black;
            text-decoration: none;
        }
    }
}

.left-side {
    display: flex;
    gap: 50px;
    align-items: center;

    .lang {
        font-family: Tourney;
        font-size: 28px;
    }
}

.black-line {
    display: block;
    height: 8px;
    width: 100px;
    background-color: black;
    margin-bottom: 20px;
    margin-top: 20px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header-section {
    display: flex;
    align-items: center;
    gap: 20px;

    .section_header {
        font-family: Roboto;
        font-size: 36px;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: 180px 180px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    gap: 30px;
    border: 1px solid;
    padding-bottom: 20px;
    padding-top: 20px;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #BFBFBF;

    .flip-card-inner {
        background-color: transparent;
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 4%;
    }

    .flip-card-inner:hover {
        transform: rotateX(180deg);
    }

    .front,
    .revert {

        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .front {
        background-color: #E6E6E6;
    }

    .revert {
        background-color: black;
        transform: rotateX(180deg);

        img,
        &.bg-black {
            filter: invert(1);
        }
    }

    .logos {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }

}


.cards .bg-black {
    background-color: black;
}