@font-face {
    font-family: 'Aleo';
    src: url('./../fonts/Aleo-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin';
    src: url('./../fonts/Josefin-Sans-regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin-light';
    src: url('./../fonts/josefin-sans-v34-latin-300.woff2') format('woff');
    font-weight: light;
    font-style: normal;
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: 'Josefin-bold';
    src: url('./../fonts/Josefin-Sans-Bold.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

$black: #000000;
$grey-dark:#333333;
$grey-text:#999999;
$accent:#5373FD;
$accent-darker:#486BFE;
$red:#FF6363;
$blue:#00A2FF;
$white: #FFFFFF;
$font-aleo: "Aleo";
$font-josefin: "Josefin";
$font-josefin-light: "Josefin-light";
$font-josefin-bold: "Josefin-bold";


@mixin fz($px) {
    font-size: ($px/16)*1rem;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h {
    font-family: $font-josefin;
}

p {
    color: $white;
}

a {
    font-family: "Lato";
    text-decoration: none;
    color: #7B7B7B;
}

ul,
ol {
    list-style: none;
}


a,
button {
    transition: all .2s ease;
    background: none;
    border: none;

    &:focus {
        text-decoration: underline solid black;
        border: 1px solid #000000;
    }
}

body {
    @include fz(16);
    color: $black;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    main {
        flex-grow: 1;
    }
}

.container {
    width: min(90%, 1320px);
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    background: $accent;
    z-index: 1000;

    .container {
        min-height: 84px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        @include fz(24);
        font-family: $font-josefin;
        text-transform: uppercase;
    }

    ul {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        li {
            text-transform: uppercase;


            a {
                @include fz(14);
                color: $white;
                font-weight: 400;
                font-family: $font-aleo;
                letter-spacing: 10%;
            }
        }
    }
}

.section-wrap {
    display: flex;
    justify-content: space-around;

    p {
        @include fz(16);
        color: $white;
        font-family: $font-josefin;
    }

}

.first-screen {
    height: 100dvh;
    background: url(./../images/HeaderBackground.png) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}


.search-wrap {
    background-color: $white;
    width: 647px;
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .input-wrap {
        // padding: 5px;
        flex-grow: 1;
        padding-left: 36px;
        height: 100%;

    }

    input {
        width: 100%;
        border: none;
        font-family: $font-josefin;
        color: $grey-text;
        @include fz(14);
        letter-spacing: 20%;
        height: 100%;
    }



    button {
        background-color: $accent;
        color: $white;
        display: flex;
        align-items: center;
        height: 100%;
        border: 4px solid white;
        padding: 0 24px;
        text-transform: uppercase;

        svg {
            margin-right: 12px;
        }

        &:hover {
            border: 1px solid $black;
        }

        &:focus {
            background-color: #00A2FF;
        }
    }
}

.scroll-btn-wrap {
    text-align: center;
    margin-top: clamp(16px, 14vw, 221px);
}

.scroll-btn {
    width: 80px;
    height: 80px;
    border: none;
    position: relative;
    cursor: pointer;
    color: $white;
    font-family: $font-josefin;
    @include fz(14);
    letter-spacing: 20%;
}

.scroll-btn::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 5px;
    background: white;
    top: 45px;
    left: 35px;
    transform: rotate(45deg);
    border-radius: 2px;
}

.scroll-btn::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 5px;
    background: white;
    top: 45px;
    left: 43px;
    transform: rotate(-45deg);
    border-radius: 2px;
}

.content {

    h1 {
        @include fz(52);
        color: $white;
        font-family: $font-josefin-bold;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-weight: 700;
    }

    p {
        @include fz(22);
        color: $white;
        font-family: $font-josefin;
        letter-spacing: 31%;
    }

    hgroup {
        margin-bottom: 48px;
        text-align: center;
    }
}

.second-page {
    height: 100dvh;
    background: url(./../images/faded-pg.png) center/cover no-repeat;
    display: flex;
    align-items: center;

    .section-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: $white;
        gap: 135px;




        h1 {
            @include fz(38);
            font-family: $font-aleo;
            margin-bottom: clamp(20px, 3vw, 24px);

        }

        p {
            @include fz(16);
            font-family: $font-josefin-light;
            margin-bottom: clamp(20px, 3vw, 24px);
            letter-spacing: 10%;
        }
    }
}

.btn {
    max-width: 213px;
    position: relative;
    padding-top: clamp(30px);
    padding: 18px 20px;
    color: white;
    background: $accent-darker;
    border: none;
    cursor: pointer;
    overflow: hidden;
    opacity: 1;
}

.btn::before {
    content: "";
    position: absolute;
    inset: 0;
    background: $accent;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;

    z-index: 0;
}

.btn {
    z-index: 1;
}

.btn span {
    position: relative;
    z-index: 2;
    font-family: $font-aleo;
    text-transform: uppercase;
    @include fz(16);
    letter-spacing: 7%;

}

.btn:hover::before {
    transform: scaleX(1);
    rotate: -20deg;
}


.second-page .text-block {
    max-width: 648px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        font-family: $font-josefin-light;
    }
}

.ph-section {
    max-width: 424px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .img1 {
        display: flex;
        justify-content: flex-start;


    }

    .img2 {
        display: flex;
        justify-content: flex-end;

    }
}

.third-page {
    background-color: $grey-dark;
}

.icons-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1320px;

    .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 100px 0;
        align-items: center;
        gap: 4px;

        span {
            font-family: $font-aleo;
            @include fz(36);
            color: $white;
        }
    }
}

.line {
    flex: 1;
    height: 200px;
    position: relative;
    z-index: 2;
}

.line::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-top: 1px dashed $white;
    border-radius: 50%;
    top: 60px;
}

.fourth-page {
    background: url(./../images/house-large.png) center/cover no-repeat;
    padding-top: 220px;
    height: 684px;
    font-family: $font-josefin;

}

.text-card {
    color: $white;
    background: rgba(35, 35, 35, 0.9);
    max-width: 648px;
    height: 344px;
    padding: 36px 24px;
    line-height: 28px;

    h1,
    h3,
    p {
        padding-bottom: 20px;
        font-family: $font-josefin-light;
    }

    h1 {
        @include fz(20);
    }

    h1,
    p {
        letter-spacing: 10%;
        font-weight: 300;
    }

    h3 {
        font-weight: 400;
        text-transform: uppercase;
    }
}

.fifth-page {

    background: url(./../images/spain.png) center/cover no-repeat;
    font-family: $font-josefin-light;
    padding-top: 220px;

    height: 684px;

    .container {
        display: flex;
        justify-content: flex-end;
    }
}

.sixth-page {
    color: $white;
    height: 680px;
    background: url(./../images/tourist-faded.png) center/cover no-repeat;

    &>h1 {
        text-align: center;
        font-family: $font-aleo;
        padding: 100px 0 50px 0;
        @include fz(36);
    }

    .image-text-card {
        font-family: $font-josefin-light;
        background-color: $grey-dark;
        display: flex;
        height: 280px;

        h1 {
            @include fz(20);
            padding-bottom: 20px;
        }

        article {
            padding: 36px;

            p {
                letter-spacing: 10%;
                line-height: 28px;
            }
        }
    }
}

.footer {
    font-family: $font-josefin;
    background-color: $black;
    height: 268px;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    .socials-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

    }

    h1 {
        @include fz(24);
        letter-spacing: 10%;
        font-weight: 700;
        text-transform: uppercase;
    }

    .socials {
        padding-top: 10px;
        display: flex;
        gap: 20px;
    }
}